<%- include("header") -%>

<h1 class="compose">Compose</h1>


<form class="" action="/compose" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label class="compose" style="font-size: 20px;">Title</label>
    <input type="text" name="newTitle" value="" class="newtitle form-control" autocomplete="off">
    <label class="compose" style="font-size: 20px;">Post</label>
    <textarea name="newContent" rows="12" cols="80" class="newcontent form-control" placeholder="Write Something..."></textarea>
<label class="compose" style="font-size: 20px;">Select an image file</label>
<input type="file" name="image" value="" class="file" accept="image/jpeg image/x-png" >

  </div>
<button class="publishButton" type="submit" name="button">Publish</button>

</form>

<%- include("footer") -%>
